[Desktop Entry]
Type=Service
MimeType=inode/directory;
Actions=inDir;
X-KDE-Priority=TopLevel
Icon=system-run

[Desktop Action inDir]
Name=InDir
# install.sh replaces Exec with the full path to the venv binary
Exec=indir %U
TryExec=indir
